asyncio
tgcrypto
pyrogram
py-tgcalls

yt-dlp
ffmpeg-python
youtube-search
youtube-search-python

lyricsgenius
speedtest-cli
python-dotenv

aiohttp
aiofiles
requests
dnspython
gitpython

wget
motor
pillow
psutil
PyYAML
